.navbar-brand img {
  width: 50px;
}
  
#main-title {
  text-align: center;
  margin: 15px 0 30px;
}

/* HOME */
#contacts-table {
  max-width: 800px;
  margin: 0 auto;
}

#contacts-table thead {
  color: #FFF;
  background-color: #007BFF;
}

.actions {
  text-align: right;
  width: 150px;
}

.col-id {
  font-weight: bold;
}

.actions i {
  font-size: 18px;
  margin-right: 5px;
}

.check-icon {
  color: #1E7E34;
}

.edit-icon {
  color: #007BFF;
}

.delete-form {
  display: inline-block;
}

.delete-btn {
  background-color: transparent;
  border: none;
  padding: 0;
}

.delete-icon {
  color: #BD2130;
}

#empty-list-text {
  text-align: center;
}

.msg-container {
  background-color: #000;
  padding: 15px;
}

.msg {
  width: 60%;
  margin: 0 auto;
  padding: 10px;
  border: solid 1px #000;
  text-align: center;
}

.msg.error {
  color: #842029;
  background-color: #F8D7DA;
  border-color: #F5C2C7;
}

.msg.success {
  color: #0F5132;
  background-color: #D1E7DD;
  border-color: #BADBCC;
}

/* Página show */

#view-contact-container{
  width: 500px;
  margin: auto;
}

.bold {
  font-weight: bold;
}

#back-link-container {
  display: block;
  width: 500px;
  margin: 30px auto 0;
}

#back-link {
  border: 1px solid #007BFF;
  color: #007BFF;
  border-radius: 4px;
  padding: 5px;
}

#back-link:hover {
  text-decoration: none;
}

/* Create */
#create-form,
#edit-form {
  max-width: 500px;
  margin: 0 auto;
}

/* Mobile */
@media(max-width: 480px) {
  #home-link {
    display: none;
  }
}

